<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

        <div class="topnav">
            <a class="active" href="..\index.html">Início</a>
        </div>
    
        <h1 class="cabecalho">SISTEMA DE GERENCIMENTO</h1>
        <h2>Clientes</h2>

        

        <li><a href="CadastrarCliente.html">Cadastrar Cliente</a></li>
        <li><a href="..\View\ConsultarCliente.html">Consultar Cliente</a></li>
        <li><a href="..\View\AlterarCliente.html">Alterar Cliente</a></li>
        <li><a href="..\View\ExcluirCliente.html">Excluir Cliente</a></li>
        <li><a href="..\Controller\ConsultarTodosClientes.php">Consultar Todos Clientes</a></li>
    </body>

</html>