<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>SISTEMA DE GERENCIMENTO</h1>
    <h2>Consultar Cliente por CPF</h2>

    <form id="formulario" action="..\Controller\ConsultarCliente.php" method="post" autocomplete="off">

        <label for="ccpf">CPF:</label><br>
        <input type="text" id="ccpf" name="ccpf"><br><br>

        <input type="submit" value="CONSULTAR">
        <input type="reset" value="LIMPAR">


    </form>

</body>

</html>