<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>SISTEMA DE GERENCIMENTO</h1>
    <h2>Excluir Cliente</h2>

    <form id="formulario" action="..\Controller\ExcluirCliente.php" method="post" autocomplete="off">

        <label for="ccpf">CPF:</label><br>
        <input type="text" required  minlength="11" maxlength="11" id="ccpf" name="ccpf"><br><br>

        <input type="submit" value="EXCLUIR">
        <input type="reset" value="LIMPAR">
        

    </form>

</body>

</html>